# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables / secrets
.env
.env.*

# macOS system files
.DS_Store

# Logs
*.log

# Build / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Python test cache
.pytest_cache/
.vercel
.env*.local
